<div class="max-w-lg mx-auto mt-16 text-center">
  <h1 class="mb-4 text-3xl font-black">Welcome to Jobandtalent</h1>
  <p class="text-lg leading-snug">With this app you will have a great onboarding</p>
</div>
